/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center; /* Ensure text is centered */
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center; /* Ensure text inside the container is centered */
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

form {
    text-align: left; /* Align form elements to the left for better readability */
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
select,
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 16px;
    display: block; /* Make sure the link takes up its own line */
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}
